body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(calc\ background.png);
  height: 95vh;
}
.calc-body{
  height: 400px;
  width: 300px;
  background: linear-gradient(135deg,rgba(255,255,255,0.1) rgba(255,255,255,0));
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  /* border-radius: 20px; */

  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0,0.37);
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
 border-radius: 10px;
  
}
.buttons{
  width: 85px;
  height: 45px;
  margin: 5px;
  text-align: center;
   border: 1px solid rgba(255, 255, 255, 0.9);
   background-color:transparent;
   color: aliceblue;
   backdrop-filter: blur(50px);
   z-index: 2;
   border-radius: 10px;
   font-size: 20px;
   font-weight: bolder;
  box-shadow: 0px 8px 32px 0 rgba(0, 0, 0,0.37);  
}
#Display{
  width: 85%;
  margin:10px ;
  padding: 10px;
  font-size: 25px;
  border: 1px solid rgba(255, 255, 255, 0.9);
  background: transparent;
  border-radius: 10px;
   box-shadow: 0px 8px 32px 0 rgba(0, 0, 0,0.37);
   color: aliceblue;
}