*{
    margin: 0;
    padding: 0;
}
header{
    background-color: aqua;
    height: 30px;
}
.nav{
    /* background-color: cadetblue; */
    
    padding: 5px;
}
nav a {
    text-decoration: none;
    margin: 35px;
    color: ivory;
}
.div1{
    background-color: green;
    height: 70px;
    width: 70px;
    margin: 5px;
    border: 2px solid white;
    border-radius: 50%;
    text-align: center;
}
.box{
    height: 100px;
    width: 100px;
    background-color: chartreuse;
    margin: 5px;
    display: inline-block;
}
#container{
    border: 2px solid black;
    margin: 3px;
}
#box1{
    position: fixed;
    right: 10px;
}
.zind{
    border: 2px solid;

}
.z{
    height: 50px;
    width: 50px;
    background-color: cadetblue;
    margin: 5px;

}
#box2{
    z-index: 5;
    position: absolute;
    left: 40px;
}
footer{
    position: fixed;
    bottom: 0px;
    background-color: gold;
}